:root {
  --pri-color: #1da1f2;
  --sec-color: #eaecec86;
  --back-color: #f1f5f8;
  --hov-color: rgba(29, 160, 242, 0.1);
}
html,
body {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--back-color);
  line-height: 1.5;
  height: 100vh;
}
.container {
  height: 100%;
  width: 100%;
  /* position: relative; */
}

/* ========= HEADER BACKGROUND ========= */
.anime-background {
  color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, #0a0f0f, rgba(10, 15, 15, 0.9));
  overflow: hidden;
}
.glowing {
  position: relative;
  min-width: 750px;
  height: 750px;
  margin: -150px;
  transform-origin: right;
  animation: colorChange 5s linear infinite;
}
@media screen and (max-width: 768px) {
  .glowing {
    max-width: 750px;
  }
}
.glowing:nth-child(even) {
  transform-origin: left;
}
@keyframes colorChange {
  0% {
    filter: hue-rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
    transform: rotate(360deg);
  }
}
.glowing span {
  position: absolute;
  top: calc(80px * var(--i));
  left: calc(80px * var(--i));
  bottom: calc(80px * var(--i));
  right: calc(80px * var(--i));
}
.glowing span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  width: 8px;
  height: 8px;
  background: #f00;
  border-radius: 50%;
}
.glowing span:nth-child(3n + 1)::before {
  background: rgba(134, 255, 0, 1);
  box-shadow: 0 0 20px rgba(134, 255, 0, 1), 0 0 40px rgba(134, 255, 0, 1),
    0 0 60px rgba(134, 255, 0, 1), 0 0 80px rgba(134, 255, 0, 1),
    0 0 0 8px rgba(134, 255, 0, 0.1);
}
.glowing span:nth-child(3n + 2)::before {
  background: rgba(255, 214, 0, 1);
  box-shadow: 0 0 20px rgba(255, 214, 0, 1), 0 0 40px rgba(255, 214, 0, 1),
    0 0 60px rgba(255, 214, 0, 1), 0 0 80px rgba(255, 214, 0, 1),
    0 0 0 8px rgba(255, 214, 0, 0.1);
}
.glowing span:nth-child(3n + 3)::before {
  background: rgba(0, 266, 255, 1);
  box-shadow: 0 0 20px rgba(0, 266, 255, 1), 0 0 40px rgba(0, 266, 255, 1),
    0 0 60px rgba(0, 266, 255, 1), 0 0 80px rgba(0, 266, 255, 1),
    0 0 0 8px rgba(0, 266, 255, 0.1);
}
.glowing span:nth-child(3n + 1) {
  animation: animate 12s ease-in-out alternate infinite;
}
.glowing span:nth-child(3n + 2) {
  animation: animate-reverse 8s ease-in-out alternate infinite;
}
.glowing span:nth-child(3n + 3) {
  animation: animate-far 8s ease-in-out alternate infinite;
}
@keyframes animate {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes animate-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-far {
  0% {
    transform: rotate(45deg);
  }
  40% {
    transform: rotate(-180deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ========== NAVBAR =========== */
.sidebar {
  display: none;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  background: transparent;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.nav-fix {
  width: 100%;
  height: 100%;
}

.nav-toggle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin-right: auto;
  transition: 0.8s;
  transform: translateY(-5px);
}
.tog-active {
  display: none;
}
.nav-toggle img {
  width: 50px;
  /* transform: translate(-10px, -12px); */
}

@media screen and (max-width: 825px) {
  .nav-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100%;
    padding: 10px 0;
    background: #fff;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 1px 6px 1px rgba(32, 33, 36, 0.2);
    color: #000;
    transition: 0.8s;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .nav-menu-act {
    left: 0;
  }
  .navbar > div {
    width: 100%;
    height: 100%;
  }
}

.nav-list {
  list-style: none;
  padding: 10px 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-list li {
  margin-bottom: 20px;
}
.nav-list a {
  color: #000;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
}
.nav-list a:hover {
  color: var(--pri-color);
}

.nav-user {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}
.nav-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 8px;
  box-shadow: 0 1px 6px 1px rgba(32, 33, 36, 0.1);
  cursor: pointer;
}
.nav-img img {
  width: 70px;
  /* transform: translate(-16px, -20px); */
}

.nav-toggle-box2 {
  background: transparent;
  height: 30px;
  width: 30px;
  position: relative;
  cursor: pointer;
  margin: 0 10px 0 auto;
}

.nav-toggle2 {
  top: 50%;
  transform: rotate(225deg);
}
.nav-toggle2::after {
  bottom: 0;
  transform: rotate(90deg);
}
.nav-toggle2::after {
  content: "";
  display: block;
}
.nav-toggle2,
.nav-toggle2::after {
  position: absolute;
  width: 25px;
  height: 3px;
  border-radius: 5px;
  background: var(--pri-color);
}

/* ========== HEADER TEXT =========== */
.header-text {
  position: absolute;
  top: 40%;
  left: 0;
  padding: 1em;
}

.welc-t-blue {
  color: var(--pri-color);
}

.head-btn {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 5px;
  padding: 8px;
  font-size: inherit;
  font-weight: 600;
  background: transparent;
  border: 2px solid var(--pri-color);
  border-radius: 4px;
  place-items: center;
  transition: 0.5s;
}
.head-btn:hover {
  background: var(--pri-color);
}
.head-btn:hover svg {
  fill: #fff;
}

.head-btn:hover a {
  color: #fff;
}
.head-btn a {
  color: var(--pri-color);
}
.head-btn svg {
  fill: var(--pri-color);
  height: 20px;
  width: 20px;
  align-self: center;
  animation: bounce 2.1s infinite;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(2px);
  }
  40% {
    transform: translateY(-7px);
  }
  60% {
    transform: translateY(-3px);
  }
}

/* ============== ABOUT ============== */
.section {
  position: relative;
  height: auto;
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-title {
  padding-top: 10px;
  height: 50px;
  width: 100%;
  letter-spacing: -1px;
  text-align: center;
  background: #fff;
}
.title-sticky {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 1px 6px -1px rgba(32, 33, 36, 0.1);
  z-index: 1;
}
/* .title-sticky + .cover-photo {
  margin-top: 50px;
}
.title-sticky + .help-sticky {
  margin-top: 50px;
} */

.cover-photo {
  width: 100%;
  height: 180px;
  position: relative;
}
.cov-div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cover-photo-img {
  height: 180px;
}

.about-img {
  height: 150px;
  width: 150px;
  border: 5px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 10px;
  bottom: -55%;
  transition: 0.6s;
}
.about-img img {
  width: 160px;
  transform: translateX(-10px);
  transition: 0.6s;
}
.shrink {
  height: 110px;
  width: 110px;
  bottom: -40%;
}
.shrink > img {
  width: 110px;
}

.about-div-clear {
  width: 100%;
  height: 100px;
  display: flex;
  align-content: flex-end;
  padding: 10px 20px 10px 10px;
}
.follow-btn {
  height: 35px;
  width: 100px;
  padding-top: 3px;
  text-align: center;
  border: 2px solid var(--pri-color);
  border-radius: 60px;
  color: var(--pri-color);
  margin-left: 10px;
  transition: 0.4s;
  cursor: pointer;
}

.followed {
  background: var(--pri-color);
  color: #fff;
}
.about-user {
  width: 100%;
  padding: 0 20px;
}
.about-user h2 {
  font-size: 28px;
}
.about-user p {
  font-weight: 500;
  color: rgba(29, 12, 12, 0.7);
  font-size: 17px;
}
.dm-container {
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  border: 2px solid var(--pri-color);
  border-radius: 50%;
  margin-left: auto;
  padding-top: 4px;
  transition: 0.5s;
}
.dm-container:hover {
  background: var(--sec-color);
}

.dm-svg {
  fill: var(--pri-color);
  width: 22px;
  height: 22px;
}
.verified-svg {
  fill: var(--pri-color);
  width: 25px;
  height: 25px;
  transform: translateY(3px);
}

.about-desc {
  padding: 10px 15px;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 10px;
}
.about-svg {
  display: flex;
  padding: 10px 0 0;
}
.about-svg svg {
  fill: rgba(0, 0, 0, 0.5);
  width: 25px;
  margin-right: 5px;
}
.about-svg p {
  color: rgba(0, 0, 0, 0.7);
}
.followers {
  font-weight: 800;
  color: rgba(0, 0, 0, 0.9);
}
.f1 {
  margin-left: 20px;
}
.followers-p {
  color: rgba(0, 0, 0, 0.7);
  padding: 10px 0 0;
}

.tweets-div {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.tweets {
  display: grid;
  grid-template-columns: auto auto auto;
  list-style: none;
}
.tweets li {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  text-align: center;
}
.tweets a {
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  font-weight: 700;
}

.tweets li:hover {
  border-bottom: 2px solid var(--pri-color);
  background: var(--hov-color);
}
.tweets li:hover a {
  color: var(--pri-color);
}

/* ============== SKILLS ============== */
.skills {
  margin-top: 10px;
  width: 100%;
  max-width: 768px;
  padding: 10px 15px 10px 10px;
  border-bottom: 1px solid rgba(32, 33, 36, 0.1);
  transition: 0.5s;
}
.tweet-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
}
.you-retweet {
  display: flex;
  padding-left: 30px;
  margin-bottom: 5px;
  grid-column: 1/9;
}
.you-retweet svg {
  fill: rgba(0, 0, 0, 0.7);
  margin-right: 6px;
}
.twit-svg {
  width: 22px;
  height: 22px;
}
.you-retweet h5 {
  color: rgba(0, 0, 0, 0.7);
}
.skills-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  grid-column: 1/2;
  grid-row: 2/9;
  border: 1px solid rgba(32, 33, 36, 0.1);
  overflow: hidden;
}
.skills-img img {
  width: 70px;
  transform: translate(-4px, -3px);
}
.twit-handle {
  display: flex;
  grid-column: 2/9;
  padding-left: 10px;
  margin-bottom: 10px;
}
.twit-handle h4 {
  font-weight: 800;
  letter-spacing: 1px;
}
.twit-handle p {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
  margin-left: 5px;
}
.twit-handle span {
  display: inline-block;
  transform: translateY(-3px);
  padding-left: 3px;
}
.arrow-svg {
  fill: rgba(0, 0, 0, 0.5);
  margin-left: auto;
}
.skills-b-img {
  background: var(--sec-color);
  height: 200px;
  width: auto;
  max-width: 600px;
  grid-column: 2/9;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 1px solid rgba(32, 33, 36, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills-b-img img {
  height: 290px;
}
.tweet-icons {
  width: 100%;
  grid-column: 2/9;
}
.tweet-icons ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 8px;
}
.tweet-icons ul .comment-svg {
  fill: rgba(0, 0, 0, 0.5);
}
.tweet-icons ul .retweet-svg {
  fill: rgb(2, 206, 2);
}
.tweet-icons ul .like-svg {
  fill: rgba(0, 0, 0, 0.7);
}

/* ========== CONTACT =========== */
#contact {
  height: 100vh;
  background: linear-gradient(#f7f9fa, #f7f9fa, #f7f9fa, #1da1f2);
  position: relative;
}
.form-container {
  width: 90%;
  background: #fff;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 6px 1px rgba(32, 33, 36, 0.2);
}
.form-container > h3 {
  text-align: center;
  margin-bottom: 10px;
}
.form-g {
  width: 100%;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 100%;
}
.form-g h3 {
  color: rgba(0, 0, 0, 0.8);
}
.form-control {
  width: 100%;
  height: 50px;
  background: var(--sec-color);
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 5px 0;
}
.form-textarea {
  width: 100%;
  min-height: 100px;
  background: var(--sec-color);
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.3rem;
  color: #333;
  resize: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 5px 0;
}
.form-textarea::placeholder {
  font-size: 1.3rem;
}
.contact-btn {
  width: 100px;
  height: 40px;
  border-radius: 50px;
  background: none;
  font-weight: 600;
  font-size: 16px;
  margin: 10px 0;
  outline: none;
  border: 2px solid var(--pri-color);
  color: var(--pri-color);
  place-self: center;
}
.sm-icons {
  display: flex;
  justify-content: center;
  width: 100%;
}
.twitter {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 10px;
  box-shadow: 0 1px 6px 1px rgba(32, 33, 36, 0.2);
  display: grid;
  place-items: center;
  padding: 5px 0 0 2px;
  background: #fff;
}
.twitter img {
  width: 40px;
}
.fb-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translateX(-1px);
}
.github {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 10px;
  box-shadow: 0 1px 6px 1px rgba(32, 33, 36, 0.2);
  display: grid;
  place-items: center;
  padding: 5px 0 0 2px;
  background: #fff;
}
.github img {
  width: 40px;
}
.footer {
  height: 150px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: grid;
}
.footer h4 {
  color: #fff;
  place-self: center;
}

/* =================== MEDIA QUERIES ================== */
@media screen and (min-width: 825px) {
  .container {
    display: grid;
    grid-template-columns: 20% 54% 26%;
    height: 100vh;
  }
  .anime-background {
    grid-column: 1/4;
    grid-row: 1;
  }
  .nav-toggle {
    display: none;
  }
  .nav-toggle-box2 {
    display: none;
  }
  .md-grid {
    grid-column: 2/3;
    border: 1px solid rgba(32, 33, 36, 0.1);
  }

  .sidebar {
    display: block;
    grid-column: 3/4;
    grid-row: 2;
    height: 100vh;
    background: #fff;
  }
  .side-fix {
    position: fixed;
    right: 0;
    top: 0;
    width: 26vw;
    height: 100vh;
    background: #fff;
  }
  .sidebar-con {
    margin: 20px 10px;
    background: var(--sec-color);
    border-radius: 20px;
    width: 92%;
    overflow: hidden;
  }
  .side-head {
    margin-bottom: 10px;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(32, 33, 36, 0.1);
  }
  .langs {
    display: flex;
    padding: 10px 5px;
    width: 100%;
    border-bottom: 1px solid rgba(32, 33, 36, 0.1);
  }

  .sidebar .skills-img {
    width: 50px;
    height: 50px;
  }
  .sidebar .skills-img img {
    width: 60px;
  }
  .sidebar .twit-handle {
    width: 100%;
  }
  .sidebar .follow-btn {
    font-weight: 500;
    margin-left: auto;
  }
  .navbar {
    grid-column: 1/2;
    grid-row: 2;
    height: 100vh;
    background: #fff;
    width: 19.6vw;
    position: initial;
  }
  .navbar > div {
    transition: 0.5s;
  }
  .nav-fix {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 19.6vw;
    background: #fff;
    padding: 50px 10px 20px 70px;
  }
  .nav-menu {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 0;
  }
  .nav-list {
    border-top: none;
    display: grid;
    place-content: center;
  }
  .nav-list li {
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 50px;
  }
  .nav-list li:hover {
    background: var(--hov-color);
  }
  .nav-list li:hover a {
    color: var(--pri-color);
  }
  .nav-list a {
    font-weight: 700;
  }
  .nav-user {
    border-top: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }
  .nav-user p:last-child {
    display: none;
  }
  .nav-img {
    margin-top: 5px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
  }
  .nav-img img {
    width: 80px;
  }

  .header-text {
    top: 40%;
    left: 30%;
    font-size: 18px;
  }

  /* ============== ABOUT ============== */
  /* .title-sticky {
    top: 0;
    left: 26.1%;
    width: 53.8%;
  } */

  .cover-photo-img {
    height: 250px;
    width: 770px;
  }

  .skills:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  .skills-b-img {
    height: 250px;
  }
}

@media screen and (min-width: 1025px) {
  .container {
    display: grid;
    grid-template-columns: 28% 41% 31%;
    height: 100vh;
  }
  .navbar {
    width: 27.6vw;
  }

  .side-fix {
    width: 30.6vw;
  }
  .sidebar-con {
    width: 70%;
    margin: 20px 20px;
  }
  .langs {
    padding: 20px 20px;
  }
  .nav-fix {
    width: 27.6vw;
  }

  .header-text {
    top: 30%;
    left: 35%;
    font-size: 20px;
  }
  /* .title-sticky {
    left: 28%;
    width: 40.97%;
  } */
  .skills-b-img {
    height: 280px;
  }
}
